!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title La mejor comida en Restaurant
    %meta{name:"description", content:"Come rico y barato en el mejor restaurante de la ciudad"}
    %link{href:'https://fonts.googleapis.com/css?family=Dancing+Script', rel:'stylesheet', type:'text/css'}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/bootstrap.css"}
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %script{src:"js/modenizr.min.js"}
  %body
    ="<!--[if lt IE 9]->"
    %p{class:"browserupgrade"}
      Estas usando un navegador
      %strong desactualizado.
      Por favor
      %a{href:"htttp://browsehappy.com/"}
        actualuza tu navegador
      para una mejor experiencia
    ="<![endif]-->"
    .video-container
      %video{autoplay:true, loop:true, width:"1280", height:"720", poster:"video/Night-BBQ.jpg"}
        %source{src:"video/Night-BBQ.mp4", typ:"video/mp4"}
        %source{src:"video/Night-BBQ.webm", typ:"video/webm"}
    .row.full-height.middle-xs.center-xs.relative.up
      .col-xs-12
        .box.white-text
          %img{src:"img/logo.png", width:200}
          %h1.dancing-script.title.no-margin Restaurante
          %p#is-open
            %i.glyphicon.glyphicon-time
            Abierto Ahora
      %nav.fixed.top.right.navigation.white-text#navigation
        -menu = ["Inicio", "Menu", "Galeria", "Contacto", "Como Llegar"]
        %ul.list-inline
          -menu.each do |item|
            %li
              %a{}= item
      .absolute.black.large-padding.white-text.full-width#description
        .row.middle-xs.center-xs
          .col-xs-7.col-sm-6.white-text.medium
            Atencion calida y comida preparada por artistas
          .col-xs.hidden#sticky-navigation
            .box
              %nav.text-right.navigation
                %ul.list-inline
                  -menu.each do |item|
                    %li
                      %a{}= item
    .text-center.relative#menu
      .absolute.white#menu-title
        %h2.dancing-script.title Menu
      -menu_photos = [{name: "Club Sandwich", image: "club-sandwich", pricing:"10.00"},
                      {name: "Combo Hamburguesa", image: "combo", pricing:"50.00"},
                      {name: "Hamburguesa", image: "hamburger", pricing:"20.00"},
                      {name: "Hot Cakes", image: "hot-cakes", pricing:"30.00"},
                      {name: "Panini", image: "panini", pricing:"15.00"},
                      {name: "Papas", image: "papas", pricing:"10.00"},
                      {name: "Club Sandwich", image: "club-sandwich", pricing:"10.00"},
                      {name: "Hamburguesa", image: "hamburger", pricing:"20.00"}]
      .row
        -menu_photos.each do |photo|
          .col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(img/food/#{photo[:image]}-thumb.jpg)"}
            -# interpolar
            .screen
              .row.middle-xs.full-height
                .col-xs-12
                  %h3.dancing-script.white-text.subtitle= photo[:name]

                  %p.no-margin.white-text= photo[:pricing] + " USD"

    %script{src:"https://code.jquery.com/jquery-3.2.1.min.js", integrity:"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin:"anonymous"}
    -# Verificar si carga jquery, y si no importe el que tenemos
    %script
      window.jQuery || document.write("<script src='js/jquery-3.2.0.min.js'><\script>")
    %script{src:"js/main.js"}
